@{
  Layout = "_Layout";
}

@model Salon.Models.Stylist

<h3>Add you a new stylist:</h3>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.LabelFor(model => model.Speciality)
  @Html.TextBoxFor(model => model.Speciality)
  @Html.LabelFor(model => model.PhoneNumber)
  @Html.TextBoxFor(model => model.PhoneNumber)
  @Html.LabelFor(model => model.HourlyRate)
  @Html.TextBoxFor(model => model.HourlyRate)
  <input type="submit" value="Add a new stylist" />
}

<p>@Html.ActionLink("Show all stylists", "Index")</p>