@{
  Layout = "_Layout";
}

@model Salon.Models.Stylist

<h2>Edit</h2>

<h4>Edit this stylist: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.StylistId)
  @Html.LabelFor(model => model.Name, "Stylist Name")
  @Html.EditorFor(model => model.Name, new { @class = "form-control", placeholder = "Enter name here", required = "required"})
  @Html.LabelFor(model => model.Speciality, "Stylist Speciality")
  @Html.EditorFor(model => model.Speciality, new { @class = "form-control", placeholder = "Enter stylist's speciality here", required = "required"})
  @Html.LabelFor(model => model.PhoneNumber, "Stylist Phone Number")
  @Html.EditorFor(model => model.PhoneNumber, new { @class = "form-control", placeholder = "Enter stylist phone number here (xxx-xxx-xxxx)", required = "required"})
  @Html.LabelFor(model => model.HourlyRate, "Stylist's Hourly Rate")
  @Html.EditorFor(model => model.HourlyRate, new { @class = "form-control", placeholder = "Enter the stylist's hourly charge rate here", required = "required", type = "number"})
    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to stylist list", "Index", null, null, new { @class = "sitenav"})</p>
<p>@Html.ActionLink("Go home!", "Index", "Home", null, new { @class = "sitenav"})</p>