@{
  Layout = "_Layout";
}

@model Salon.Models.Client

<h2>Client Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
<h3>@Html.DisplayNameFor(model => model.PhoneNumber): @Html.DisplayFor(model => model.PhoneNumber)</h3>
<h3>@Html.DisplayNameFor(model => model.Notes): @Html.DisplayFor(model => model.Notes)<h3>


<p>@Html.ActionLink("Back to client list", "Index", null, null, new { @class = "sitenav"})</p>
<p>@Html.ActionLink("Edit this client", "Edit", new { id = Model.ClientId }, new { @class = "sitenav"})</p>
<p>@Html.ActionLink("Delete this client", "Delete", new { id = Model.ClientId }, new { @class = "sitenav"})</p>
<p>@Html.ActionLink("Go home!", "Index", "Home", null, new { @class = "sitenav"})</p>