@{
  Layout = "_Layout";
}

@model Salon.Models.Client

<h2>Edit</h2>

<h4>Edit this client: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)
  @Html.LabelFor(model => model.Name, "Client Name")
  @Html.EditorFor(model => model.Name, new { @class = "form-control", placeholder = "Enter name here", required = "required"})
  @Html.LabelFor(model => model.PhoneNumber, "Client Phone Number")
  @Html.EditorFor(model => model.PhoneNumber, new { @class = "form-control", placeholder = "Enter number here (xxx-xxx-xxxx)", required = "required"})
  @Html.LabelFor(model => model.Notes, "Additional Notes on Client")
  @Html.EditorFor(model => model.Notes, new { @class = "form-control", placeholder = "Enter additonal notes here", required = "required"})
  @Html.LabelFor(model => model.Stylist, "Stylist Name")
  @Html.DropDownListFor(model => model.StylistId, (IEnumerable<SelectListItem>)ViewBag.StylistId, new { @class = "form-control"})

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to client list", "Index", null, new { @class = "sitenav"})</p>
<p>@Html.ActionLink("Go home!", "Index", "Home", null, new { @class = "sitenav"})</p>